$black: #000;

.card {
  &-unfiltered{
    position: absolute;
    box-sizing: border-box;
    transition: all 1s ease-in-out;
    img {
      box-shadow: 0 0 10px 0px $black;
      margin: 0;
      padding: 0;
      border-radius: 10px;
    }
  }

  &-filtered{
    width: 100%;
    img {
      width: 20%;
      float: left;
    }
  }


}
